source https://nuget.org/api/v2
nuget FSharp.Formatting 2.10.3
nuget FSharp.RDF
nuget FSharp.Text.RegexProvider
nuget Unquote

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2